{% extends 'base.html' %}
{% load static%}
{%block content%}
<html>
 <center>  <b> <h1 style="color: rgb(59, 59, 5);">We are Blessie Skin-Care
    <br> Hub</h1></b></center>
    <p style="font-size: 50px;">Get glowing skin with our expert care!</p>
    <img src="{% static 'images/3.jpg'%}" alt="r" style="width: 100px; height: 100px;">
    <div> &#128293;</div><img src="{% static 'images/7.jpg'%}" alt="r" style="width: 90px; height: 100px;">
    <button id="button1" class="button" style="background-color: #ff69b4; color: #fff; padding: 10px 20px; font-size: 16px;">Book Now</button><br><br>
    <div>&#128150;</div><img src="{% static 'images/8.jpg'%}" alt="r" style="width: 120px; height: 130px;">
    <div>&#128151;&#128151;&#128151;&#128151;&#128151;&#128151;&#128151; </div><img src="{% static 'images/1.jpg'%}" alt="r" style="width: 140px; height: 150px;">
    <button id="button2" class="button" style="background-color: #4caf50; color: white; padding: 15px 30px; font-size: 18px; margin-top: 20px;">Learn More</button><br><br>
    <div>&#128152;</div><img src="{% static 'images/2.jpg'%}" alt="r" style="width: 160px; height: 170px;">
    <button id="button3" class="button" style="background-color: #03a9f4; color: white; font-size: 20px; margin-top: 25px;">Shop Now</button><br><br>
    <img src="{% static 'images/4.jpg'%}" alt="r" style="width: 180px; height: 190px;">
    <button id="button4" class="button" style="background-color: #ff9800; columns: white; padding: 10px 20px; font-size: 22px; margin-top: 30px;">Get a Quote</button><br><br>
    <img src="{% static 'images/5.jpg'%}" alt="r" style="width: 300px; height: 310px;">
    <button id="button5" class="button" style="background-color: #8bc34a; color: #fff; font-size: 29px; margin-top: 35px;">Join Our Community</button>
    <img src="{% static 'images/6.jpg'%}" alt="r" style="width: 320px; height: 330px;">
    <hr style="size: 0.5cm;">
    <footer class="footer">
    <marquee behavior="" direction="right"><p>BLESSIE SKIN-CARE. All rights reserved</p>
    <button> Vist Us On:</button>
    <ul style="display: flex; list-style: none; gap: 5px; color: aqua;">
        <li><img src="{% static 'images/facebook.jpg' %}" alt="pic1" style="width: 50px; height: 50px;  border-radius: 50%;" >BlessieSkinCare</li>
    <li><img src="{% static 'images/Twitter.jpg' %}" alt="pic1" style="width: 50px; height: 50px;  border-radius: 50%;" >@BlessieSkinCare</li>
    <li><img src="{% static 'images/sapp.jpg' %}" alt="pic1" style="width: 50px; height: 50px;  border-radius: 50%;" >0763814037</li>
    <li><img src="{% static 'images/insta.jpg' %}" alt="pic1" style="width: 50px; height: 50px;  border-radius: 50%;" >BlessieSkinCare</li>
    blessieskincare20@gmail.com
    <li><div>&#128155; &#128156;&#128151;</div></li>
    </ul>
    </marquee>
</footer>
    </html>
{%endblock%}