{% extends 'base.html' %}
<!DOCTYPE html>
{%load static%}
{%block content%}
<html lang="en">
    
    <main>
        <marquee style="color: green;"><i>Skin care's ultimate power couple. Hydrate & renew! Flat 15% off</i></marquee>
        <center><h1 style="color: rgb(27, 27, 129); text-size-adjust: 25%; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 400%;">BLESSIE'S SKIN-CARE HUB</h1><br></center>
       <input type="search-input" placeholder="Search......">
    <button class="button">shop now</button>

<div class="container">
    <ul class="gallery" style="display: flex; 
  transition: transform 0.5s ease-in-out; 
  padding: 0;
  margin: 0;
  gap: 10px;
  list-style: none;">
    <li style=" flex-shrink: 0; 
    width: 300px; 
    height: auto; 
    margin: 0; "><img src="{% static 'images/work.jpg' %}" alt="Image 1" style=" width: 100%; 
    height: 300px; 
    display: flex;
    border-radius: 50%; "><button class="button"> Look good</button></li>
        <li style=" flex-shrink: 0; 
        width: 250px; 
        height: auto; 
        margin: 0; "><img src="{% static 'images/touch.jpg' %}" alt="Image 1" style=" width: 100%; 
        height: 250px; 
        display: flex;
        border-radius: 50%; "> <button class="button" style="background-color: blueviolet;">Elegant touch</button></li>
    <li style=" flex-shrink: 0; 
    width: 200px; 
    height: auto; 
    margin: 0; "><img src="{% static 'images/backf.jpg' %}" alt="Image 1" style=" width: 100%; 
    height: 200px; 
    display: flex;
    border-radius: 50%; "> <button class="button" style="background-color: aqua;">massage</button></li>
        <li style=" flex-shrink: 0; 
        width: 150px; 
        height: auto; 
        margin: 0; "><img src="{% static 'images/age.jpg' %}" alt="Image 1" style=" width: 100%; 
        height: 150px; 
        display: flex;
        border-radius: 50%; "><button class="button" style="background-color: pink;">Starter</button></li>
    </ul>
			<div class="section">
<ul style="display: flex; list-style: none; gap: 10px;" >
    <li style=" flex-shrink: 0; 
    width: 150px; 
    height: auto; 
    margin: 0; "><img src="{% static 'images/hand.jpg' %}" alt="Image 1" style=" width: 100%; 
    height: 150px; 
    display: flex;
    border-radius: 20%; "> <center><P style="color: aqua;">MIX</P></center></li> 
     <li style=" flex-shrink: 0; 
     width: 300px; 
     height: auto; 
     margin: 0; "><img src="{% static 'images/face1.jpg' %}" alt="Image 1" style=" width: 100%; 
     height: 300px; 
     display: flex;
     border-radius: 10%; "><center>Angel looks <div>&#128150;</div></center></li> 
      <li style=" flex-shrink: 0; 
      width: 90px; 
      height: auto; 
      margin: 0; "><img src="{% static 'images/cream.jpg' %}" alt="Image 1" style=" width: 100%; 
      height: 90px; 
      display: flex;
      border-radius: 50%; "><center><div>&#128293; &#128293; &#128293;</div></center></li> 
       <li style=" flex-shrink: 0; 
       width: 150px; 
       height: auto; 
       margin: 0; "><img src="{% static 'images/backm.jpg' %}" alt="Image 1" style=" width: 100%; 
       height: 150px; 
       display: flex;
       border-radius: 5%; "><center>Male <DIV>&#128170;</DIV>Massage</center></li> 
        <li style=" flex-shrink: 0; 
        width: 400px; 
        height: auto; 
        margin: 0; "><img src="{% static 'images/mukade.jpg' %}" alt="Image 1" style=" width: 100%; 
        height: 400px; 
        display: flex;
        border-radius: 15%; "><p style="color: rgb(33, 95, 95);"><b>Mature Black woman applying moisturizing cream on her face</b></p></li>
</ul>
    <section class="columns">
        <ul style="list-style: none; display: flex;"><div class="column">
            <h2 style="color: brown;">Products</h2>
        <p style="color: blue;">we offer variety of natural skin care products that are designed to nourish and protect your skin</p>
        <ul style="color: blueviolet;">
            <li>facial creams</li>
            <li>body lotions</li>
            <li>essential oils</li>
        </ul>
        </div>
        <div class="column">
        <h2 s<div class="service-container" style="color:brown;">Services</h2>
        <p style="color: aqua;">we provide a variety of skin care services designed to help you achieve a healthy glowing skin</p>
        <ul style="color: black;">
            <li>facials</li>
            <li>chemical peels</li>
            <li>microdermabrasion</li>
        </ul>
        </div>
        <div class="column">
        <H2 style="color: blue;">why choose us</H2>
        <p style="color: brown;">we are committed to providing the best in skin care products and dedicated to helping you achieve healthy glowing skin</p>
        <ul style="color: blue;">
            <li>natural ingredients</li>
            <li>effective products</li>
            <li>expert team</li>
        </ul>
        </div>
        </section></ul>

</main>
<hr style="size: 0.5cm;">
<footer class="footer">
<marquee behavior="" direction="right"><p>BLESSIE SKIN-CARE. All rights reserved</p>
   <button> Vist Us On:</button>
    <ul style="display: flex; list-style: none; gap: 5px; color: aqua;">
        <li><img src="{% static 'images/facebook.jpg' %}" alt="pic1" style="width: 50px; height: 50px;  border-radius: 50%;" >BlessieSkinCare</li>
    <li><img src="{% static 'images/Twitter.jpg' %}" alt="pic1" style="width: 50px; height: 50px;  border-radius: 50%;" >@BlessieSkinCare</li>
    <li><img src="{% static 'images/sapp.jpg' %}" alt="pic1" style="width: 50px; height: 50px;  border-radius: 50%;" >0763814037</li>
    <li><img src="{% static 'images/insta.jpg' %}" alt="pic1" style="width: 50px; height: 50px;  border-radius: 50%;" >BlessieSkinCare</li>
    blessieskincare20@gmail.com
    <li><div>&#128155; &#128156;&#128151;</div></li>
    </ul>
</p></marquee>

</footer>

</html>
{% endblock %}